<!DOCTYPE html>
<html>
<head>
  <title>Be4Chat</title>
  <meta charset="UTF-8">

  <link href="<%= URL %>/css/style.css" rel="stylesheet" type="text/css">
  <!-- WebSocket -->
  <script src="<%= URL %>/socket.io/socket.io.js"></script>
  <!-- Meus Scripts -->
  <script src="<%= URL %>/js/script.ejs"></script>

  <script type="text/javascript">
	var URL = "<%= URL %>"
  </script>

</head>
<body>

<div id="chat_box" class="chat_box" >
    <img class="be4chat_logo_img" src="<%= img %>" height="<%= imgHeight %>" width="<%= imgWidth %>">
  		<div class="chat_head">
				Posso lhe ajudar?
			</div>
  	
  	<div class="chat_body">
  		<form id="chatBe4Form">
  	    	<div class="inputs">

  	    		<div class="row">
  				    <div class="col s12 input-field-be4chat">
  				      <input value="" id="name" type="text" class="input-personalized input-be4chat validate">
  				      <label class="active" for="name">Nome</label>
  				    </div>
  				    <div class="input-field-be4chat col s12 ">
  				      <input value="" id="email" type="text" class="input-personalized input-be4chat validate">
  				      <label class="active" for="email">Email</label>
  				    </div>
  				    <div class="input-field-be4chat col s12 ">
  				      
                <input class="input-personalized input-be4chat validate" type="text" name="phone" id="phone"  required="required" title="e.g (12) 91234-1234" pattern="^\([0-9]{2}\)\s[0-9]{5}-[0-9]{4}$" >

  				      <label class="active" for="phone" >Telefone</label>
  				    </div>
  					    <div class="input-field-be4chat col s12">
  					    	<button type="button" type="submit" class="background-color-head btn-be4chat startchat">Iniciar</button>
  					    </div>
  				</div>
  			</div>
  		</form>

  		 <div class="msg_wrap">
  			<div class="msg_body">
        <div class="msg_a">Ola, seja bem vindo ao chat da Algar Telecom!</div>
        <div class="msg_a">Em que podemos ajudar?</div>
  				<div class="msg_push"></div>

  			</div>

         <input id="myprotocol" type="image" class="btn-be4chat-img" src="http://localhost:8000/img/protocol.png" width="20" height="20" title="Meus Protocolos" />

         <input type="image" class="btn-be4chat-img" src="http://localhost:8000/img/attach.png" width="20" height="20" title="Anexar Arquivo" />
                    
  			<div class="msg_footer">
          

  				<div class="row">
						<textarea class="textarea-be4chat" placeholder="Digite sua mensagem" rows="2" resize: none;></textarea>
  			  </div>
  			</div>
  		</div>
  		</div>
    </div>


</body>
</html>